{{define "title"}}Snippet #{{.Snippet.ID}}{{end}}

{{define "main"}}
    <div class='snippet'>
        <div class='metadata'>
            <strong>{{.Snippet.Title}}</strong>
            <span>#{{.Snippet.ID}}</span>
        </div>
        <pre><code>{{.Snippet.Content}}</code></pre>
        <div class='metadata'>
            <time>Created: {{.Snippet.Created.Format "2006-01-02T15:04:05"}}</time>
            <time>Expires: {{.Snippet.Expires.Format "2006-01-02T15:04:05"}}</time>
        </div>
    </div>
{{end}}
